body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #56a8e166;
}

.form-container {
    width: 50%;
    padding: 16px;
    box-sizing: border-box;
}

.image-container {
    width: 50%;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
